:root {
  box-sizing: border-box;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
}

.screen-container {
  background-color: slategray;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker {
  border: 1px solid #000030;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

.color-div{
  display: flex;
  flex: 0 0 4rem;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 700;
}

#clear,
#yellow,
#orange,
#green,
#violet {
  color: #000030;
}

.ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ui-container > h1 {
  color: aliceblue;
  text-align: center;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .7rem;
}

.btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000030;
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.2rem;
}

#root {
  border: 2px solid #000030;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  cursor: url("/assets/circle.svg") 10 10, pointer;
}

@media screen and (max-width: 500px) {
  #root {
    width: 320px;
    height: 320px;
  }

  .color-picker {
    width: 320px;
    height: 320px;
    padding: 1rem;
  }
}

@media screen and (max-width: 320px) {
  #root {
    width: 200px;
    height: 200px;
  }

  .color-picker {
    width: 200px;
    height: 200px;
    padding: .7rem;
  }

  .color-div {
    flex: 0 0 1.3rem;
    font-weight: 100;
    font-size: .5rem;
  }

  .btn {
    font-size: .5rem;
  }
}

@media screen and (min-width: 1500px) {
  #root {
    width: 700px;
    height: 700px;
  }

  .color-picker {
    width: 700px;
    height: 700px;
    padding: 3rem;
  }

  .color-div {
    flex: 0 0 5rem;
    font-weight: 700;
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2000px) {
  #root {
    width: 1200px;
    height: 1200px;
  }

  .color-picker {
    width: 1200px;
    height: 1200px;
  }
}
