:root {
  box-sizing: border-box;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: inherit;
}

.screen-container {
  background-color: slategray;
  min-height: 100vh;
  padding: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ui-container > h1 {
  color: aliceblue;
  text-align: center;
}

.sizes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7rem;
}

.btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000030;
  border-radius: 10px;
  color: aliceblue;
  font-size: 1.2rem;
}

#root {
  border: 2px solid #000030;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  cursor: url("/assets/circle.svg") 10 10, pointer;
  /* overflow: scroll; */
}

@media screen and (max-width: 500px) {
  #root {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 320px) {
  #root {
    width: 200px;
    height: 200px;
  }

  .btn {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1500px) {
  #root {
    width: 700px;
    height: 700px;
  }

  .btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2000px) {
  #root {
    width: 1200px;
    height: 1200px;
  }
}
